<h1>Welcome</h1>

<%if logged_in?%>
  <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/users/new', method: :get%>
<p>
  The time is now: <%= Time.now %><br>
  Google Everything: <%= link_to "Download", "file_manager/download_all", :method => :post%>
</p>