<% provide(:title, @user.name ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <p id="notice"><%= notice %></p>
    </section>
  </aside>
  <aside class="col-md-4 spacing">
    <div>
      <h3>User Information</h3>
    </div>
    <div>
      <strong>Name:</strong>
      <%= @user.name %>
    </div>
    <div>
      <strong>Email:</strong>
      <%= @user.email %>
    </div>
    <div>
      <strong>Time:</strong>
      <%= Time.now %>
    </div>
    <div>
      <strong>Files:</strong>
      <ul>
        <li><%= link_to "Click to Download First File", "https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=193911", :target =>"_blank", :preload => true%></li>
        <li><%= link_to "Click to Download Second File", "https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=980582", :target =>"_blank", :preload => true%></li>
        <li><%= link_to "Click to Download Third File", "https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=1009960", :target =>"_blank", :preload => true%></li>
        <li><%= link_to "Click to Download Fourth File", "https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=1047322", :target =>"_blank", :preload => true%></li>
      </ul>

    </div>
  </aside>
  <!-- <div class="col-md-4">
    <% if @user.chores.any? %>
      <h3>Chores (<%= @user.chores.count %>)</h3>
        <ol class="chores">
          <%= render @chores %>
        </ol>
      <%= will_paginate @chores %>
    <% end %>
  </div> -->
  <div class="row">
    <div class="center">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-lg btn-primary" %> |
      <%= link_to 'Back', users_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

